*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box !important;
  scroll-behavior: smooth;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  scroll-behavior: smooth;
  font-family: "Poppins", system-ui, sans-serif;
}
body {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -2;
  min-height: 100vh;
  width: 100%;
  #root {
    background-color: #09090b;
    background-image: radial-gradient(
      ellipse 80% 80% at 50% -20%,
      rgba(120, 119, 198, 0.3),
      rgba(255, 255, 255, 0)
    );
  }
}
@media (prefers-color-scheme: light) {
  body {
    #root {
      color: #09090b;
      background-color: #f9fafb;
      background-image: radial-gradient(
        ellipse 80% 80% at 50% -20%,
        rgba(217, 216, 255, 0.5),
        rgba(255, 255, 255, 0.9)
      );
    }
  }
}
