.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overscroll-behavior: none;
}

.layout-javascript {
  background-color: #0d1117;
  background-image: radial-gradient(
    ellipse 80% 80% at 50% -20%,
    rgba(255, 223, 93, 0.2),
    rgba(255, 255, 255, 0)
  );
}

.layout-react {
  background-color: #000000;
  background-image: radial-gradient(
    ellipse 80% 80% at 50% -20%,
    rgba(0, 200, 255, 0.707),
    rgb(7, 55, 65)
  );
}

.layout-typescript {
  background-color: #0f1419;
  background-image: radial-gradient(
    ellipse 80% 80% at 50% -20%,
    rgba(49, 120, 198, 0.2),
    rgba(255, 255, 255, 0)
  );
}

.layout-main {
  max-width: 1128px;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  margin: auto;
}
